Meal tracker for {{ customer_name }}:
{{month_date}} 2024
Daily Calorie Goal: {{ calorie_goal }}

{% for day, meals in meals_by_day.items() %}
Day: {{ day }} / Total Calories = {{ meals.total_calories }}
----------------------
{% for meal_type, meal_list in meals.items() %}
  {% if meal_type != "total_calories" %}
    {{ meal_type.capitalize() }}:
    {% for meal in meal_list %}
      - {{ meal.meal }}: {{ meal.calories }} calories
      {% if meal.is_high_protein %}
        * High Protein 🦾
      {% endif %}
    {% endfor %}
  ----------------------
  {% endif %}
{% endfor %}
{% endfor %}
